<div class="container">
  <div class="col-md-12">
    <div class="row">

      <div class="left-area">
        <h1><%= @movie.title %></h1>
        <%= @movie.display_trailer %>

        <div class="poster", id="poster">
          <p>
            <%= render partial: 'poster', collection: @movie.posters, as: :poster %>
          </p>
        </div>

        <strong>Cast:</strong>
        <p>
          <%= @movie.display_actors %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= @movie.display_description %>
        </p>
      </div>

      <div class="right-area">
        <div class="clearfix">
          <p><%= image_tag @movie.first_poster %></p>
        </div>

        <p>
          <strong>Genre:</strong>
          <%= @movie.genre %>
        </p>

        <p>
          <strong>Duration:</strong>
          <%= @movie.display_duration %>
        </p>

        <p>
          <strong>Release Date:</strong>
          <%= @movie.release_date %>
        </p>

        <p>
          <strong>Approved:</strong>
          <%= @movie.approved %>
        </p>

        <p>
          <strong>Featured:</strong>
          <%= @movie.featured %>
        </p>
      </div>

      <p>
        <% if user_signed_in? %>
          <%= link_to 'Edit', edit_movie_path(@movie), class: 'btn btn-success' %>
          <%= link_to 'Back', movies_path, class: 'btn btn-primary' %>
        <% end %>
      </p>
    </div>
  </div>
</div>
