<% title 'Movie Details' %>
<div id="movie-container" class="container" data-movie="<%= @movie.id %>" data-rating="<%= @rating.id if user_signed_in? %>">
  <div class="col-md-12">
    <div class="row">

      <div class="col-md-4">
        <h1><%= @movie.title %></h1>
        <div class="clearfix">
          <p><%= image_tag @movie.first_poster %></p>
        </div>

        <% if user_signed_in? %>
          <div>
            <h2>Your Rating:</h2>
            <div class='star-rating' data-score=<%= @rating.score %>></div>
          </div>
        <% end %>

        <div>
          <h2>Rating:</h2>
          <div class='avg-star-rating' data-score=<%= @movie.get_average %> ></div>
        </div>

        <%= link_to 'Add to Favorite', movie_favorite_movies_path(@movie), method: :post, remote: true, class: 'btn btn-xs btn-primary' %>
      </div>

      <div class="col-md-8">
        <h4>
          <strong>Genre:</strong>
          <%= @movie.genre %>
        </h4>

        <h4>
          <strong>Duration:</strong>
          <%= @movie.display_duration %>
        </h4>

        <h4>
          <strong>Release Date:</strong>
          <%= display_date(@movie.release_date) %>
        </h4>

        <h4>
          <strong>Approved:</strong>
          <%= @movie.approved %>
        </h4>

        <h4>
          <strong>Featured:</strong>
          <%= @movie.featured %>
        </h4>

        <h4>
          <strong>Cast:</strong>
        </h4>
        <p>
          <%= @movie.display_actors %>
        </p>

      </div>
    </div>


    <div>
      <p>
        <h3><strong>Plot:</strong></h3>
        <%= @movie.display_description %>
      </p>
    </div>

    <div class="poster", id="poster">
      <h3><strong>Photos and Videos:</strong></h3>
      <p>
        <%= render partial: 'poster', collection: @movie.posters, as: :poster %>
      </p>
    </div>

    <p class="pull-right">
      <% if user_signed_in? %>
        <%= link_to 'Edit', edit_movie_path(@movie), class: 'btn btn-success' %>
        <%= link_to 'Back', root_path, class: 'btn btn-primary' %>
        <%= link_to 'Destroy', @movie, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </p>

    <% if @movie.trailer.present? %>
      <%= @movie.display_trailer %>
    <% else %>
      <p>Sorry! No trailer found!</p>
    <% end %>

    <div class="row">
      <div>
        <div id='movie-reviews'>
          <%= render 'reviews/show' %>
        </div>

        <div id='review-container'>
          <% if user_signed_in? %>
            <h2>Add a Review:</h2>
          <% end %>
          <%= render 'reviews/form' %>
        </div>
      </div>
    </div>
  </div>
</div>
