<html>
  <head>
    <title>MovieManagement</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <%= render 'layouts/header' %>
  <body class ="devise_pages">
    <%= render partial: "layouts/flash_messages", flash: flash %>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-2">
          <div class="panel panel-default">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
